.itemWrapper {
	background-color: #bbb6ff;
	width: 350px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 50px;
	color: white;
	margin-right: 30px;
	margin-bottom: 30px;

	.itemTitle {
		font-weight: bold;
		font-size: 30px;
	}
	.itemCategory {
		font-weight: bold;
		font-size: 20px;
	}
	img {
		width: 200px;
	}
	.itemPrice {
		font-weight: bold;
		font-size: 30px;
	}
	a {
		color: white;
		text-decoration: none;
		font-size: 25px;
		background-color: black;
		padding: 10px;
		border-radius: 50px;
	}
}
