.itemWrapper {
	background-color: #bbb6ff;
	// width: 350px;
	// height: 400px;
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 50px;
	color: white;
	padding: 20px 0;
	margin: 0 -30px 30px -30px;

	a {
		background-color: transparent;
	}

	.itemTitle {
		font-weight: bold;
		font-size: 30px;
	}
	.itemCategory {
		font-weight: bold;
		font-size: 20px;
	}
	img {
		width: 200px;
	}
	.itemPrice {
		font-weight: bold;
		font-size: 30px;
	}
	a {
		color: white;
		text-decoration: none;
		font-size: 25px;
		background-color: black;
		padding: 10px;
		border-radius: 50px;
	}
}
