.cartWrapper {
	margin-top: 10px;
	text-align: center;
	max-width: 1000px;
	width: 100%;
	font-size: 40px;
	font-weight: bold;
	.cartList {
		display: flex;
		flex-direction: column;
		.cartItem {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #b2d0ff;
			border-radius: 20px;
			margin-bottom: 20px;
			img {
				width: 200px;
				border-radius: 20px;
			}
			.cartitemTitle {
				font-size: 25px;
				font-weight: bold;
			}
			.cartItemPrice {
				font-size: 25px;
				font-weight: bold;
			}
			.cartClose {
				cursor: pointer;
				font-size: 50px;
				font-weight: bold;
				margin-right: 20px;
			}
			.amount {
				font-size: 30px;
				margin-right: 30px;
			}
		}
	}
}
