.navWrapper {
	background-color: black;
	color: white;
	z-index: 10;
	min-width: 100%;
	a {
		text-decoration: none;
		color: white;
	}
	.navBar {
		height: 100px;
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.navList {
			width: 100%;
			display: flex;
			justify-content: space-between;
			font-size: 25px;
			li {
				position: relative;
				.badge {
					width: 20px;
					height: 20px;
					background-color: grey;
					border-radius: 50%;
					position: absolute;
					right: -20px;
					bottom: 0px;
					font-size: 15px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
