.productWrapper {
	max-width: 500px;
	background-color: black;
	padding: 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.prodTitle {
		margin-top: 20px;
		font-size: 40px;
	}
	.prodCategory {
		font-size: 30px;
		color: #bbb6ff;
	}
	.prodPrice {
		font-size: 40px;
		margin-bottom: 20px;
		color: red;
	}
	.input {
		max-width: 50px;
		text-align: center;
	}
	.inc {
		cursor: pointer;
	}
	.dec {
		cursor: pointer;
	}
}
